/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --custom-bg-light-grey: #EAEAEA;
    --custom-bg-color-light-blue: #8EDAFC;
    --custom-color-grey: #B1B1B1;
    --custom-color-dark-grey: #6B7376;
    --custom-color-green: #D5F9BA;
}

/*Utilities*/
.min-h-100{
    min-height: 100px;
}

.w-h-50{
    width: 60px;
    height: 60px;
}




/*Generics*/
header {
    background-color: var(--custom-bg-light-grey);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

main {
    overflow: auto;
}

footer{
    background-color: var(--custom-bg-light-grey);
}

footer i{
    color: var(--custom-color-dark-grey);
    font-size: 24px;
}


/*Contact header*/

.contacts-side{
    border-right: 1px solid var(--custom-color-grey);
}

.navbar i{
    color: var(--custom-color-grey);
    font-size: 24px;
}

.contacts-side .notifications{
    background-color: var(--custom-bg-color-light-blue);
}

.contacts-side .icon{
    background-color: white;
}

.contacts-side .icon i{
    color: var(--custom-bg-color-light-blue);
}

.contacts-side .search-input span{
    background-color: white;
}

.contacts-side .search-input span i{
    color: var(--custom-color-grey);
}

.contacts-side .search-input input{
    border-left: 0;
}

/*Contacts main*/

.contact{
    border-bottom: 1px solid var(--custom-bg-light-grey);
}

.contact:hover{
    cursor: pointer;
    background-color: var(--custom-bg-light-grey);
}

/*Chat side*/

.chat-container{
    background-image: url('../img/mine.jpg');
}

.sent{
    background-color: var(--custom-color-green);
    align-self: flex-end;
}

.received{
    background-color: white;
}

.message{
    max-width: 300px;
}

.message-info{
    font-size: 12px;
    color: var(--custom-color-grey);
}