/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --custom-bg-light-grey: #EAEAEA;
    --custom-bg-color-light-blue: #8EDAFC;
    --custom-color-grey: #B1B1B1;
}

/*Utilities*/
.min-h-100{
    min-height: 100px;
}

.w-h-50{
    width: 50px;
    height: 50px;
}

/*Generics*/
header {
    background-color: var(--custom-bg-light-grey);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

main {
    overflow: auto;
}


/*Contact header*/

.contacts-side{
    border-right: 1px solid var(--custom-color-grey);
}

.contacts-side .navbar i{
    color: var(--custom-color-grey);
}

.contacts-side .notifications{
    background-color: var(--custom-bg-color-light-blue);
}

.contacts-side .icon{
    background-color: white;
}

.contacts-side .icon i{
    color: var(--custom-bg-color-light-blue);
}

.contacts-side .search-input span{
    background-color: white;
}

.contacts-side .search-input span i{
    color: var(--custom-color-grey);
}

.contacts-side .search-input input{
    border-left: 0;
}